* {
    margin: 0;
}


/*pg1 bg*/

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(121, 135, 182, 0.705), rgba(54, 54, 75, 0.637)), url(images/gehu.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}


/*pg1 teacher login button*/

.header .btn {
    text-decoration: none;
    text-decoration-line: none;
    display: block;
    position: absolute;
    text-decoration-line: none;
    text-decoration: none;
    top: 50%;
    left: 50%;
    font-family: Arial, Helvetica, sans-serif;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.466);
    width: 25%;
    font-size: 200%;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    padding: auto;
    text-align: center;
    text-decoration: none;
}


/*pg1 student login button*/

.header .btn2 {
    text-decoration: none;
    display: block;
    text-decoration-line: none;
    position: absolute;
    text-decoration-line: none;
    text-decoration: none;
    font-display: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.466);
    width: 26%;
    height: 43px;
    font-size: 200%;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    padding: auto;
    text-align: center;
    text-decoration: none;
}

.header .btn:hover,
.btn2:hover {
    background-color: whitesmoke;
}

.header .footer {
    text-align: center;
    padding-top: 10px;
    position: absolute;
    top: 90%;
    display: block;
    background-color: rgb(77, 70, 70);
    text-decoration: none;
    text-align: center;
    color: white;
    width: 100%;
    height: 70px;
}

.banner {
    margin-left: none;
    padding-top: 5px;
    padding-left: 10px;
    position: relative;
    text-decoration: none;
}


/*for year1,year2,year3,year4 search bar and facultylog input bar*/

.yearsbutton {
    text-decoration: none;
    display: block;
    position: absolute;
    top: 53%;
    left: 50%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.466);
    width: 55%;
    font-size: 150%;
    cursor: pointer;
    text-align: left;
    padding: 40px;
}


/*for year1,year2,year3,year4 buttons on studentlog.html*/

.yearbtn {
    text-decoration: none;
    display: block;
    position: absolute;
    top: 55%;
    left: 20%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.466);
    width: 17.5%;
    height: 35%;
    cursor: pointer;
    text-align: center;
    padding: none;
    border-radius: none;
    border-width: 30px black;
}

.yearbtn2 {
    text-decoration: none;
    display: block;
    position: absolute;
    top: 55%;
    left: 40%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.466);
    width: 17.5%;
    height: 35%;
    cursor: pointer;
    text-align: center;
    padding: none;
    border-radius: none;
    border-width: 30px black;
}

.yearbtn3 {
    text-decoration: none;
    display: block;
    position: absolute;
    top: 55%;
    left: 60%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.466);
    width: 17.5%;
    height: 35%;
    cursor: pointer;
    text-align: center;
    padding: none;
    border-radius: none;
    border-width: 30px black;
}

.yearbtn4 {
    text-decoration: none;
    display: block;
    position: absolute;
    top: 55%;
    left: 80%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.466);
    width: 17.5%;
    height: 35%;
    cursor: pointer;
    text-align: center;
    padding: none;
    border-radius: none;
    border-width: 30px black;
}

.footer {
    text-align: center;
    padding-top: 10px;
    position: absolute;
    top: 90%;
    display: block;
    background-color: rgb(77, 70, 70);
    text-decoration: none;
    text-align: center;
    color: white;
    width: 100%;
    height: 70px;
}


/*submit button for year1,year2,year3,year4*/

.submitbutton {
    top: 90%;
    left: 70%;
    padding: 30px;
}

.loginbutton {
    text-decoration: none;
    margin: 15px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    width: 25%;
    height: 35%;
    font-size: 125%;
    text-align: center;
    padding: 20px;
}

#rememberme {
    color: #8a8b8e;
    float: left;
    font-size: 15px;
    margin-left: 20px;
    cursor: pointer;
}

#forgotpassword {
    margin-top: 3px;
    margin-right: 17px;
    float: right;
    font-size: 15px;
    cursor: pointer;
}

.subbutton {
    margin-top: 30px;
    margin: 5px;
    font-size: 12px;
    width: 88%;
    height: 30px;
    padding: 4px;
    background-color: green;
    text-align: center;
    border-color: green;
    color: white;
    cursor: pointer;
}

.loginbutton #signup {
    background-color: #eeedf1;
    color: #8a8b8e;
    font-size: 12px;
    width: 110%;
    padding: 20px 0px;
    text-align: center;
    cursor: pointer;
}

#username {
    height: 20px;
}

.loginbutton input[type=text]:focus,
.loginbutton input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.loginPopup {
    position: relative;
    text-align: center;
    width: 100%;
}

.formPopup {
    display: none;
    position: fixed;
    left: 45%;
    top: 5%;
    transform: translate(-50%, 5%);
    border: 3px solid #999999;
    z-index: 9;
    left: 50%;
    top: 35%;
}

.formContainer {
    max-width: 300px;
    padding: 20px;
    background-color: #fff;
}

.formContainer .btn {
    padding: 12px 20px;
    border: none;
    background-color: #8ebf42;
    color: #fff;
    cursor: pointer;
    width: 100%;
    margin-bottom: 15px;
    opacity: 0.8;
}

.formContainer .cancel {
    background-color: #cc0000;
}

.formContainer .btn:hover,
.openButton:hover {
    opacity: 1;
}

.tab {
    font-size: 150%;
    text-align: center;
    border: black;
    border-width: 20px;
    top: 50%;
    left: 50%;
    padding: 20px;
}

.data {
    padding: 25px;
    border: 3px solid black;
    margin: none;
    width: 47px;
    cursor: pointer;
    border-collapse: collapse;
}

.data:hover {
    background-color: #8a8b8e;
}

.table {
    width: 80%;
    border-collapse: collapse;
    margin-left: 25%;
}

.loginPopup {
    position: relative;
    text-align: center;
    width: 100%;
}